<div class="subscription">
  <div class="col-5">
    <img src="https://via.placeholder.com/400x300" alt="" />
  </div>
  <div class="col-6 subs">
    <span>¿Quieres mantenerte al tanto de nuestros futuros Proyectos?</span>
    <p>
      Descubre como estamos cambiando la vida de los niños y niñas del país
      fomentando su derecho al juego. Y como
      <b>tú puedes formar parte de este cambio.</b>
    </p>
    <h4 class="title-subs pb-2">Suscríbete a nuestro newsletter</h4>
    <form class="form-group" action="">
      <input type="text" class="input-text mr-2" placeholder="Nombres">

      <input type="email" class="input-text mr-2" placeholder="Email">

      <button mat-raised-button color="primary">Subscribirse</button>
    </form>
  </div>
</div>
