<app-hero></app-hero>

<div class="first-section container">
  <div class="col-2 images-ilus">
    <img src="assets/images/TrenWithBackground.svg" alt="" class="tren-bg">
    <img src="assets/images/AvionWithBackground.svg" alt="" class="avion-bg">
  </div>
  <div class="col-2 text-p">
    <h1 class="titleSection">¿Quieres formar <br> parte de <br> Regalando Sonrisas?</h1>
    <p class="paragraphSection">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta,
      accusamus earum! Voluptas esse eaque, architecto qui quaerat eveniet
      officiis minima laudantium delectus iure consequuntur iste dolore, quis
      eligendi nisi quam. Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Soluta, accusamus earum! Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Soluta, accusamus earum! Lorem ipsum dolor sit amet
      consectetur, adipisicing elit. Soluta, accusamus earum!
    </p>
    <h3>¿Tienes alguna consulta o necesitas ayuda en algo?</h3>
  </div>
</div>

<div class="second-section container">
  <div class="col-2 images-ilus">
    <img src="assets/images/OsoWithBackground.svg" alt="" class="oso-bg">
    <img src="assets/images/TamborWithBackground.svg" alt="" class="tambor-bg">
  </div>
  <div class="col-2 text-p">
    <h1 class="titleSection">¿Quieres ser Voluntario?</h1>
    <p class="paragraphSection">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta,
      accusamus earum! Voluptas esse eaque, architecto qui quaerat eveniet
      officiis minima laudantium delectus iure consequuntur iste dolore, quis
      eligendi nisi quam. Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Soluta, accusamus earum! Voluptas esse eaque, architecto qui quaerat
      eveniet officiis minima laudantium delectus iure consequuntur iste dolore,
      quis eligendi nisi quam.
    </p>
    <h3>Lee más en nuestro blog de voluntario.</h3>
  </div>
</div>

<div class="three-section">
  <div class="col-12 container pb-4">
    <h2 class="title-work">
      Trabajamos por los niños, ¿nos Ayudas?
      <hr class="outline" />
    </h2>
  </div>
  <div class="container pb-3 item-box">
    <div class="col-5">
      <strong class="title-item">Regala una Sonrisa</strong>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="col-5">
      <strong class="title-item">Se Voluntario</strong>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="col-5">
      <strong class="title-item">Haz un donativo</strong>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div class="col-4 section-box">
    <div class="col">
      <img src="assets/images/Caballo.svg" alt="" class="caballo">
    </div>
    <div class="col">
      <img src="assets/images/Valde.svg" alt="" class="valde">
    </div>
    <div class="col">
      <img src="assets/images/Legos.svg" alt="" class="lego">
    </div>
  </div>
</div>

<app-projects></app-projects>
<div class="four-section">
  <div class="container col text-right title-right">
    <h2 class="work-title">
      Nuestro trabajo en números
      <hr class="outline-right" />
    </h2>
    <span>"Lorem ipsum dolor sit amet consectetur adipisicing elit."</span>
  </div>
  <div class="col-4 section-box-2">
    <div class="col">
      <img src="assets/images/Conejo.svg" alt="" class="conejo">
    </div>
    <div class="col">
      <img src="assets/images/Bailarina.svg" alt="" class="bailarina">
    </div>
    <div class="col">
      <img src="assets/images/Cubos.svg" alt="" class="cubos">
    </div>
  </div>
  <div class="container pt-3 pb-3">
    <div class="col-5 text-center">
      <strong class="title-number mb-2">3</strong>
      <p class="p-work">Millones de Juguetes repartidos en Perú</p>
    </div>
    <div class="col-5 text-center">
      <strong class="title-number mb-2">32</strong>
      <p class="p-work">ONG con las que colaboramos</p>
    </div>
    <div class="col-5 text-center">
      <strong class="title-number mb-2">4</strong>
      <p class="p-work">Millones de niños han recibido su Juguete.</p>
    </div>
  </div>
</div>
<app-subscription></app-subscription>
<div class="five-section">
    <div class="box">
      <img src="assets/images/Pelota.svg" class="pelota-img" alt="">
      <h1>¿Listo para formar parte de esta gran comunidad?</h1>
      <img src="assets/images/Barco.svg" class="barco-img" alt="">
    </div>
    <div class="box-button">
        <button mat-raised-button class="btn-dark">Quiero ser Voluntario</button>
        <button mat-raised-button class="btn-dark">Quiero hacer una donación</button>
    </div>
</div>
<app-footer></app-footer>
