<div id="proyectos" class="container-title">
  <h2 class="work-title pb-4">
    Nuestros Proyectos
    <hr class="outline-right" />
  </h2>
</div>
<owl-carousel-o [options]="customOptions" class="mb-3">
  <ng-template carouselSlide>
    <div class="container carrousel-row">
      <div class="row carrousel-col">
        <div class="col-5 align-center item-proj">
          <h4>Proyecto 1</h4>
        </div>
        <div class="col-5 item-proj-p">
          <p> <span class="comillas-apertura">"</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Molestiae, eveniet excepturi quia veritatis doloremque 
             debitis ab, at reiciendis exercitationem culpa officia 
             similique expedita eius nihil minima eligendi, architecto
              quasi numquam. <span class="comillas-cierre">"</span></p>
        </div>
        <div class="col-5 plr-4 item-proj-image">
          <img src="https://via.placeholder.com/250x250" alt="">
        </div>
      </div>
    </div>
  </ng-template>  

  <ng-template carouselSlide>
    <div class="container carrousel-row">
      <div class="row carrousel-col">
        <div class="col-5 align-center item-proj">
          <h4>Proyecto 2</h4>
        </div>
        <div class="col-5 item-proj-p">
          <p><span class="comillas-apertura">"</span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Molestiae, eveniet excepturi quia veritatis doloremque 
             debitis ab, at reiciendis exercitationem culpa officia 
             similique expedita eius nihil minima eligendi, architecto
              quasi numquam.<span class="comillas-cierre">"</span></p>
        </div>
        <div class="col-5 plr-4 item-proj-image">
          <img src="https://via.placeholder.com/250x250" alt="">
        </div>
      </div>
    </div>
  </ng-template>  

  <ng-template carouselSlide>
    <div class="container carrousel-row">
      <div class="row carrousel-col">
        <div class="col-5 align-center item-proj">
          <h4>Proyecto 3</h4>
        </div>
        <div class="col-5 item-proj-p">
          <p><span class="comillas-apertura">"</span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Molestiae, eveniet excepturi quia veritatis doloremque 
             debitis ab, at reiciendis exercitationem culpa officia 
             similique expedita eius nihil minima eligendi, architecto
              quasi numquam.<span class="comillas-cierre">"</span></p>
        </div>
        <div class="col-5 plr-4 item-proj-image">
          <img src="https://via.placeholder.com/250x250" alt="">
        </div>
      </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="container carrousel-row">
      <div class="row carrousel-col">
        <div class="col-5 align-center item-proj">
          <h4>Proyecto 4</h4>
        </div>
        <div class="col-5 item-proj-p">
          <p><span class="comillas-apertura">"</span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Molestiae, eveniet excepturi quia veritatis doloremque 
             debitis ab, at reiciendis exercitationem culpa officia 
             similique expedita eius nihil minima eligendi, architecto
              quasi numquam.<span class="comillas-cierre">"</span></p>
        </div>
        <div class="col-5 plr-4 item-proj-image">
          <img src="https://via.placeholder.com/250x250" alt="">
        </div>
      </div>
    </div>
  </ng-template>  
</owl-carousel-o>
