@import './../../../styles.scss';
.our-projects{
    width: 100%;
    // height: 50vh;
}
.item-proj{
    h4{
        @include phone {
           font-size: 1.5rem!important; 
        }
        
    }
}
.comillas-cierre{
    top: 2rem;
    left: 0;
}
.comillas-apertura, .comillas-cierre{
    @include phone {
        position: relative!important;
        font-size: 2rem;
        top: auto!important;
        left: auto!important;
        right: auto!important;
    }
}
.item-proj-p{
    font-size: 1rem;
}

.col-5{
    @include phone {
        width: 100%;
    }
}
.carrousel-col{
    @include phone {
        display: flex;
        flex-direction: column!important;
    }
}

.plr-4{
    padding: 2rem 2rem;
}
.item-proj-image{
    img{
        @include phone {
            width: 80%;
        }
    }
}