@import '../../../../styles.scss';

.content-hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    // border-bottom: 1px solid #ccc;
    background-image: url('../../../../assets/images/Background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include phone {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.logo-portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        border-radius: 50%;
        @include phone {
            width: 80%;
        }
    }
}
.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    @include phone {
        margin-top: 2rem;
        align-items: center;
        width: 100%!important;
    }
    button{
        margin-bottom: 2rem;
        @include phone {
            margin-bottom: 1rem;
        }
    }
}

button{
    width: 250px;
    color: #ffffff!important;
    
}

p{
    letter-spacing: 3rem;
}

