
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/


$cumpliendo-suenos-landing-primary: mat.define-palette(mat.$light-blue-palette, 400);
$cumpliendo-suenos-landing-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cumpliendo-suenos-landing-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cumpliendo-suenos-landing-theme: mat.define-light-theme((
  color: (
    primary: $cumpliendo-suenos-landing-primary,
    accent: $cumpliendo-suenos-landing-accent,
    warn: $cumpliendo-suenos-landing-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cumpliendo-suenos-landing-theme);

/* You can add global styles to this file, and also import other style files */

//-------- MEDIAQUERIES --------
$tablet: 600px;
$desktop: 1360px;
$desktop_m: 1680px;
$desktop_xl: 1920px;

/*-------- MIXINS MEDIA QUERIES = @MEDIA @CONTENT --------
Para usarlas sólo hay que situarse en la regla SASS correspondiente y poner, por ejemplo:
    @include phone {
        flex-direction: column;
    }
*/
@mixin phone {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop_hd {
  @media (min-width: #{$desktop_m}) and (max-width: #{$desktop_xl}) {
    @content;
  }
}

@mixin devices {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-app-name,.color-white{
  color: #ffffff;
}
.col{
  display: flex;
  flex-direction: column;
}
.col-1{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.col-2{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.col-3{
  width: 75%;
  display: flex;
}
.col-4{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title-right{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.col-5{
  width: 33.33%;
  display: flex;
  flex-direction: column;
}
.col-6{
  width: 66.66%;
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 3rem!important;
  line-height: 40pt!important;
  font-weight: 500!important;
  color: #0233C2;
}
p{
  font-size: 1.2rem;
  line-height: 32px!important;
  padding-bottom: 1.5rem;
  letter-spacing: 1.5px!important;
}
.mat-typography p {
  margin: 0 0 12px;
}
h3{
  font-size: 1.2rem!important;
  color: red;
}
h2{
  font-size: 1.8rem!important;
  color: #941F1F;
  font-weight: 400!important;
}
h2 hr.outline{
  border-color: #29b6f6;
  border-width: 5px;
  background-color: #29b6f6;
  border-style: solid;
  margin-block-start: -8px;
}
h2 hr.outline-right{
  border-color: #29b6f6;
  border-width: 5px;
  background-color: #29b6f6;
  border-style: solid;
  margin-block-start: -8px;
  margin-left: 16px;
  width: 104%;
  @include phone {
    width: 90%!important;
    margin-left: 0;
    margin-top: 1rem;
  }
}
.title-item{
  color: #0233C2;
  font-weight: 500!important;
  font-size: 1.5rem;
  padding-bottom: 2.5rem;
}
.title-number{
  color: #0233C2;
  font-weight: 500!important;
  font-size: 3.5rem;
  text-align: center;
}
.p-4{
  padding: 4rem;
}
.plr-4{
  padding: 0 4rem;
}
.pb-4{
  padding-bottom: 4rem;
}
.pt-3{
  padding-top: 3rem;
}
.pb-3{
  padding-bottom: 3rem;
}
.text-right{
  text-align: right;
}
.mb-3{
  margin-bottom: 3rem;
}
.mt-3{
  margin-top: 3rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.mt-2{
  margin-top: 2rem;
}
.p-work{
  padding: 0 2rem;
  text-align: center;
}
.text-center{
  text-align: center;
}


.mat-raised-button.mat-primary{
  background-color: #29b6f6;
  color: #fff !important;
  border: 2px solid #fff;
}
.space-right{
  width: 1rem;
}





.owl-theme .owl-nav [class*=owl-]:hover {
 
  text-decoration: none;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 5px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-carousel .owl-nav .owl-prev {
  background: url(https://iconicoperu.com/image-icons/ICONS/LEFT.png) no-repeat;
  background-color: #ccc;
  padding: 4px;
  background-size: cover;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  width: 30px;
  height: 40px;
}

.owl-prev {
  left: 2rem;
}

.owl-next, .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-nav .owl-next {
  background: url(https://iconicoperu.com/image-icons/ICONS/RIGHT.png) no-repeat;
  background-size: cover;
  background-color: #ccc;
  padding: 4px;
}

.owl-next {
  right: 2rem;
  background-image: url(https://iconicoperu.com/image-icons/ICONS/RIGHT.png);
}

.owl-theme .owl-nav [class*=owl-]:hover {
  text-decoration: none;
}
.mat-drawer-container{
  background-color: #ffffff!important;
}
.mat-drawer-content{
  overflow: none!important;
}
.carrousel-row{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  .row{
    display: flex;
    flex-direction: row;
  }
}

.container-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4{
  font-size: 2rem!important;
}

.comillas-apertura{
  font-size: 5rem;
  position: relative;
  left:-2rem;
  top: 2rem;
}
.comillas-cierre{
  font-size: 5rem;
  position: relative;
  right: -18rem;
  bottom: 0rem;
}
.align-center{
  text-align: center;
}

.mat-flat-button{
  font-size: 1.1rem!important;
  padding: 8px 16px!important;
  border-radius: 16px!important;
}
.title-subs{
  font-size: 1.1rem!important;
  letter-spacing: 1.5px !important;
}

.socials{
  img{
    width: 3rem;
    height: 3rem;
  }
}
.input-text{
  width: 25%;
  padding: 12px 16px 12px 16px;
  border-style: none!important;
}
.mr-2{
  margin-right: 1rem;
}
.pb-2{
  padding-bottom: 1.5rem;
}