@import '../../../../styles.scss';

.section-footer{
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
    background-color: #29b6f6;
    color: #fff;
    @include phone {
        flex-direction: column;
        text-align: center;
    }
    h2{
        color: #fff;
    }
    .col-5 , .col-1 {
        @include phone {
            width: 100%;
        }

    }
    .about{
        @include phone {
            width: 100%;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin-top: 2rem;
        }

    }
}
.socials-col{
    text-align: center;
}
.about{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    ul {
        margin:0;
        padding: 0;
        li{
            font-size: 1.5rem;
            line-height: 2rem;
            list-style: none;
        }
    }
}