<div class="section-footer">
    <div class="col-5 socials-col">
        <h2>Síguenos</h2>
        <div class="socials">
            <img src="assets/images/facebook.svg" alt="">
            <img src="assets/images/InstagramLogo.svg" alt="">
            <img src="assets/images/linkedin.svg" alt="">
            <img src="assets/images/twitter.svg" alt="">
        </div>
    </div>
    <div class="col-1">
        <span>Fundación Cumpliendo Sueños</span>
        <span>Calle Falsa 1234</span>
        <span>CP 1408 Miraflores, Lima, Perú</span>
        <span>Tel: +51 223 4444 5555</span>
        <span>mail@mail.org</span>
    </div>
    <div class="col-5 about">
        <ul>
            <li>Acerca de CSH</li>
            <li>FAQ</li>
        </ul>
        <img src="assets/images/Logo.svg" width="200" alt="" />
    </div>
</div>